page-recharge {
    .input-border{
        border:none;
        width:80%;
        color:#ff4633;
    }
    .ali-icon{
        color:#5A9EF7;font-size:30px;
    }
    .wechat-icon{
        color:#3BCA72;font-size:30px;
    }
    .item-center{
        display: flex;
        align-items: center;
    }
}
