<ion-header>
  <ion-navbar no-border-bottom  color="mybg">
    <div class="my-title">
        <div class="search-border">
            <ion-icon name="search" class="search-icon"></ion-icon>
            <ion-input type="text" class="search-input" [(ngModel)]="searchinfo" placeholder="搜索商城商品名称/品牌" (click)="search()"></ion-input>
          </div>
    </div>
      
      <ion-buttons end>
        <div (click)="goCart()"><ion-icon class="iconfont ml-10" style="font-size:22px!important;margin-right:5px;">&#xe616;</ion-icon></div>
      </ion-buttons>
  </ion-navbar>
</ion-header>
  <ion-content>
  
    <ion-row *ngIf="spinner1">
      <ion-col text-center>
        <ion-spinner></ion-spinner>
      </ion-col>
    </ion-row>
  
    <ion-slides #slides *ngIf="slidess.length > 1" loop="true" slidesPerView="auto" pager="true" autoplay="3000">
      <ion-slide *ngFor="let item of slidess">
          <img src="{{item.url}}" alt="" style="width:100%;min-height:215px;">
        <!-- <img src="../../assets/imgs/banner1.png" alt="" style="height:30%;width:100%;"> -->
      </ion-slide>
    </ion-slides>
  
  
    <div class="categories">
      <ion-grid>
        <ion-row wrap class="catebox-border">
          <ion-col text-center tappable col-4 *ngFor="let c of category" (click)="goProductList(c.id)" class="catebox-border-right">
            <img src="{{c.url}}" alt="">
            <div [class.catetitlecolor1]="c.id===1" [class.catetitlecolor2]="c.id===2" [class.catetitlecolor3]="c.id===3">{{c.title}}</div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  
    <ion-item-divider>
        <ion-row justify-content-between>
        <span class="color-black">商城人气商品</span>
        <span class="t-header-right">></span>
       </ion-row>
    </ion-item-divider>
    <div class="home-content">
      <img src="{{selfshopimg.url}}" alt="" class="categoryimg">
      <div class="product">
        <ion-row wrap>
          <ion-col tappable col-4 *ngFor="let p of selfshopproducts" (click)="goDetails(p.id)">
            <img src="{{p.images}}" alt=""/>
            <p>{{p.productname}}</p>
            <div class="list-price buy">
              <span class="price-new"><i>{{coin}}</i>{{p.webprice}}</span>
              <!-- <i class="del">{{coin}}<span>{{p.webprice}}</span></i> -->
            </div>
          </ion-col>
        </ion-row>
      </div>
    </div>

    <ion-item-divider>
        <ion-row justify-content-between>
        <span class="color-black">亚马逊热销商品</span>
        <span class="t-header-right">></span>
       </ion-row>
    </ion-item-divider>
    <div class="home-content">
      <img src="{{amazonimg.url}}" alt="" class="categoryimg">
      <div class="product">
        <ion-row wrap>
          <ion-col tappable col-4 *ngFor="let p of amazonproducts" (click)="goDetails(p.id)">
            <img src="{{p.images}}" alt=""/>
            <p>{{p.productname}}</p>
            <div class="list-price buy">
              <span class="price-new"><i>{{coin}}</i>{{p.webprice}}</span>
              <!-- <i class="del">{{coin}}<span>{{p.webprice}}</span></i> -->
            </div>
          </ion-col>
        </ion-row>
      </div>
    </div>

    <!-- <ion-item-divider class="color-black"> 乐天热销商品 <span class="t-header-right">></span></ion-item-divider> -->
    <ion-item-divider>
        <ion-row justify-content-between>
        <span class="color-black">乐天热销商品</span>
        <span class="t-header-right">></span>
       </ion-row>
    </ion-item-divider>
    <!-- <div class="home-content">
      <img src="{{takutenimg.url}}" alt="" class="cateogryimg">
      <div class="product">
        <ion-row wrap>
          <ion-col tappable col-4 *ngFor="let p of takutenproducts" (click)="goDetails(p.id)">
            <img src="{{p.images}}" alt=""/>
            <p>{{p.productname}}</p>
            <div class="list-price buy">
              <span class="price-new"><i>{{coin}}</i>{{p.webprice}}</span>
            </div>
          </ion-col>
        </ion-row>
      </div>
    </div> -->
    <div class="home-content">
        <img src="{{takutenimg.url}}" alt="" class="categoryimg">
        <div class="product">
          <ion-row wrap>
            <ion-col tappable col-4 *ngFor="let p of takutenproducts" (click)="goDetails(p.id)">
              <img src="{{p.images}}" alt=""/>
              <p>{{p.productname}}</p>
              <div class="list-price buy">
                <span class="price-new"><i>{{coin}}</i>{{p.webprice}}</span>
              </div>
            </ion-col>
          </ion-row>
        </div>
    </div>
  
  </ion-content>
  


